In [1]:
print('Hello World')

Hello World

In [2]:
# Addition of two numbers
num1 = int(input('Enter first number: '))
num2 = int(input('Enter second number: '))
add = num1 + num2
print('Addition is:', add)

Enter first number: 45
Enter second number: 54
Addition is: 99

In [3]:
# Find larger number between two
num1 = int(input('Enter first number: '))
num2 = int(input('Enter second number: '))
if num1 > num2:
    print(num1,'is larger')
else:
    print(num2,'is larger')

Enter first number: 67
Enter second number: 45
67 is larger

In [4]:
# Print your name 10 times using while loop
count = 0
while count < 10:
    print('Tushar')
    count += 1

Tushar
Tushar
Tushar
Tushar
Tushar
Tushar
Tushar
Tushar
Tushar
Tushar

In [5]:
# Find the addition of first 10 natural number using
# for loop

add = 0
for n in range(1,11):
    add  = add + n
    
print('Addition is', add)

Addition is 55

#### Data Structures

In [7]:
# list
num = [56, 34, 21, 45, 12, 46]

In [8]:
type(num)

list

In [9]:
num[2]

21

In [10]:
num = [56, 34, 21.63, 45, 12, 46, 'Hello']
print(num)

[56, 34, 21.63, 45, 12, 46, 'Hello']

In [11]:
num[-1]

'Hello'

In [12]:
num.append(87)
num

[56, 34, 21.63, 45, 12, 46, 'Hello', 87]

In [13]:
num.reverse()
num

[87, 'Hello', 46, 12, 45, 21.63, 34, 56]

In [14]:
# tuple
num = (45,12,67,43,78.90,'Pune',12)

In [15]:
type(num)

tuple

In [16]:
num

(45, 12, 67, 43, 78.9, 'Pune', 12)

In [17]:
num[2]

67

In [18]:
num[2] = 56

TypeError: 'tuple' object does not support item assignment

In [19]:
# Dictionary
d = {5:23, 7:125, 10:63, 12:46}

In [20]:
type(d)

dict

In [21]:
d[7]

125

In [22]:
d[7] = 390
d

{5: 23, 7: 390, 10: 63, 12: 46}

In [23]:
d['z'] = 'zebra'
d

{5: 23, 7: 390, 10: 63, 12: 46, 'z': 'zebra'}

In [24]:
# set
s = {5,6,4,5,3,7,6,5,4,5,6,7,8}
s

{3, 4, 5, 6, 7, 8}

In [25]:
type(s)

set

#### In-built functions

In [27]:
x = [45,22,13,56,78,99]

In [28]:
len(x)

6

In [31]:
sum(x)

313

In [32]:
sorted(x)

[13, 22, 45, 56, 78, 99]

In [33]:
min(x), max(x)

(13, 99)

In [34]:
list('Pune')

['P', 'u', 'n', 'e']

In [35]:
tuple('Pune')

('P', 'u', 'n', 'e')

#### User defined functions

In [37]:
# Function definition
def square(n):
    sq = n * n
    return sq

In [38]:
num = int(input('Enter a number: '))
print('Square is', square(num)) # Function call

Enter a number: 4
Square is 16

In [39]:
# Write a function to find the factorial
def factorial(n):
    fact = 1
    for x in range(1,n+1):
        fact = fact * x
    return fact
    
num = int(input('Enter a number: '))
print('Factorial is', factorial(num)) # Function call

Enter a number: 5
Factorial is 120

#### Object Oriented Programming

In [41]:
class Person:
    def __init__(self, n, a): # Constructor
        self.name = n   # instance variable
        self.age = a
    def show(self):   # function / method
        print('Values are:')
        print(self.name, self.age)

In [42]:
obj1 = Person('Vijay', 34)

In [43]:
obj1.age

34

In [44]:
obj1.show()

Values are:
Vijay 34

In [45]:
obj2 = Person('Ajay', 22)
obj2.show()

Values are:
Ajay 22

In [46]:
obj3 = Person('Sanjay', 45)
obj3.show()

Values are:
Sanjay 45

In [47]:
class Person:
    def __init__(self, n, a=25): # Constructor
        self.name = n   # instance variable
        self.age = a
    def show(self):   # function / method
        print('Values are:')
        print(self.name, self.age)

In [49]:
obj3 = Person('Sanjay')
obj3.show()

Values are:
Sanjay 25